// Global styles

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  background: $body-bg-clr;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    background: url(https://source.unsplash.com/collection/345760/1600x900)
      no-repeat center;
    background-size: cover;
    filter: grayscale(100%);
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.wrapper {
  width: 80%;
  max-width: 204.8rem;
  margin: 0 auto;
}

button {
  @extend %flexbox-row;
  border: none;
  transition: 0.3s;
  font-size: $font-size-medium-desktop;
  font-weight: $font-bold;

  &:hover {
    @extend %hover-styles;
  }

  i {
    margin-left: 1rem;
  }
}

a {
  text-decoration: none;
}

label {
  margin: 0;
}

input {
  padding: 0;

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input,
button,
textarea {
  @extend %border-radius;
}
