//Variables
$font: proxima-nova, sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 800;

$font-size-x-large: 5rem;
$font-size-x-large-tablet: clamp(1rem, 6vw, 5rem);

$font-size-large: 3.5rem;
$font-size-large-desktop: clamp(1rem, 6vw, 3.5rem);
$font-size-large-tablet: clamp(1rem, 2vw + 1rem, 3.5rem);

$font-size-medium-plus: 2.4rem;

$font-size-medium-desktop: clamp(1.6rem, 1vw + 1rem, 2.4rem);
$font-size-medium-laptop: 1rem;
$font-size-medium-tablet: clamp(0.75rem, 4.5vw, 2.4rem);

$font-size-small-plus: 1.6rem;

$font-size-small: 1.4rem;
$font-size-small-laptop: clamp(1rem, 1vw + 0.25rem, 1.4rem);
$font-size-small-tablet: clamp(1rem, 10vw, 1.4rem);
$font-size-small-mobile: clamp(1rem, 5vw, 1.4rem);

$primary-clr: #2c3e50;
$primary-highlight-clr: #56799c;
$secondary-clr: #f1c40f;
$remove-clr: #e74c3c;
$body-bg-clr: radial-gradient(
  circle,
  rgba(241, 196, 15, 1) 0%,
  rgba(255, 208, 52, 1) 100%
);
$input-edit-clr: rgba(255, 255, 255, 0.4);

$primary-light-bg: #fff;
$primary-light-text: $primary-clr;
$primary-dark-bg: $primary-clr;
$primary-dark-text: #fff;

//Placeholder selectors//

%flexbox-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flexbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%transition {
  transition: 0.3s;
}

%box-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

%border-radius {
  border-radius: 0.6rem;
}

%hover-styles {
  @extend %transition;
  cursor: pointer;
}

%hover-brightness {
  filter: brightness(2);
}

//Mixins
@mixin primary-theme-colors($light-theme: true) {
  @if $light-theme {
    color: $primary-light-text;
    background: $primary-light-bg;
  } @else {
    color: $primary-dark-text;
    background: $primary-dark-bg;
  }
}

@mixin remove-colors($remove-color: true) {
  @if $remove-color {
    background: $remove-clr;
    color: #fff;
  } @else {
    background: #fff;
    color: $remove-clr;
  }
}
