//Variables
$font: proxima-nova, sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 800;
$font-size-x-large: 5rem;
$font-size-large: 3.5rem;
$font-size-medium-plus: 2.4rem;
$font-size-medium: 2rem;
$font-size-small-plus: 1.6rem;
$font-size-small: 1.4rem;

$primary-clr: #2c3e50;
$primary-highlight-clr: #56799c;
$secondary-clr: #f1c40f;
$remove-clr: #e74c3c;
$body-bg-clr: radial-gradient(circle, rgba(241, 196, 15, 1) 0%, rgba(255, 208, 52, 1) 100%);
$input-edit-clr: rgba(255, 255, 255, 0.4);

$primary-light-bg: #fff;
$primary-light-text: $primary-clr;
$primary-dark-bg: $primary-clr;
$primary-dark-text: #fff;

//Placeholder selectors

%flexbox-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flexbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

%transition {
    transition: 0.5s;
}

%box-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

%border-radius {
    border-radius: 0.6rem;
}

%hover-styles {
    @extend %transition;
    cursor: pointer;
}

%hover-brightness {
    filter: brightness(2);
}

//Mixins
@mixin primary-theme-colors($light-theme: true) {
    @if $light-theme {
        color: $primary-light-text;
        background: $primary-light-bg;
    } @else {
        color: $primary-dark-text;
        background: $primary-dark-bg;
    }
}

@mixin remove-colors($remove-color: true) {
    @if $remove-color {
        background: $remove-clr;
        color: #fff;
    } @else {
        background: #fff;
        color: $remove-clr;
    }
}

// Global styles 

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    background: $body-bg-clr;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    &::before {
        content: "";
        background: url(https://source.unsplash.com/collection/345760/1600x900) no-repeat center;
        background-size: cover;
        filter: grayscale(100%);
        mix-blend-mode: overlay;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

button {
    @extend %flexbox-row;
    border: none;
    transition: 0.3s;
    font-size: $font-size-medium;
    font-weight: $font-bold;

    &:hover {
        @extend %hover-styles;
    }

    i {
        margin-left: 1rem;
    }
}

a {
    text-decoration: none;
}

label {
    margin: 0;
}

input {
    padding: 0;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// Global shared styles

input,
button,
textarea {
    @extend %border-radius;
}

// Header styles

.header {
    width: 100%;
    padding: 8rem 0;
    color: $primary-clr;

    // Header nested styles

    &__wrapper {
        justify-content: space-between;
    }

    &__logo-container {
        justify-content: flex-start;
    }

    &__utensils-icon {
        margin-right: 2.4rem;
    }

    //Header nested shared styles

    &__search-icon,
    &__home-icon {
        @extend %transition;
        font-size: $font-size-large;

        &:hover {
            @extend %hover-styles;
        }
    }

    &__wrapper,
    &__logo-container,
    &__search-icon {
        @extend %flexbox-row;
    }

    &__utensils-icon,
    &__logo-title {
        font-size: $font-size-x-large;
    }
}

// Filter sidebar menu styles

.sidebar-filter-menu {
    @extend %flexbox-column-center, %transition;
    @include primary-theme-colors($light-theme: false);

    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    max-width: 80rem;
    height: 100vh;
    padding: 8rem 0;
    overflow-y: auto;

    // Filter sidebar menu nested styles

    &__wrapper {
        position: relative;
        padding-top: 6.4rem;
    }

    &__close-btn {
        font-size: $font-size-large;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            color: $secondary-clr;
            transform: rotate(90deg);
        }
    }

    &__sort-by-section {
        @extend %flexbox-row;
        justify-content: space-between;
        align-items: flex-start;

        &-title {
            margin: 6.4rem 0 1rem;
        }
    }

    &__filter {
        &-recipe {
            &-label {
                display: block;
                margin-bottom: 1.2rem;
            }

            &-input {
                @include primary-theme-colors($light-theme: false);

                filter: brightness(1.25);
                width: 100%;
                font-size: $font-size-small;
                padding: $font-size-medium;
                border: none;
            }
        }

        &-options {
            &-col {
                @include primary-theme-colors($light-theme: true);
                @extend %border-radius;
                padding: 3rem 0;
                max-height: 50vh;

                &-wrapper {
                    max-height: 80%;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        background: none;

                        &-thumb {
                            background: $primary-clr;
                            border-radius: 1rem;
                        }
                    }
                }
            }

            &-container {
                @extend %flexbox-row;
                position: relative;
                margin: 2.4rem 0;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &-checkbox {
                @extend %hover-styles;
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;

                &-container {
                    @extend %hover-styles;
                    height: 2rem;
                    padding-left: 3.5rem;
                    margin-bottom: 0;
                    font-size: $font-size-medium;
                    user-select: none;

                    &:hover input ~ .sidebar-filter-menu__filter-options-checkmark {
                        @extend %hover-styles;
                        background-color: $secondary-clr;
                    }

                    & input:checked ~ .sidebar-filter-menu__filter-options-checkmark {
                        @extend %transition;
                        background-color: $secondary-clr;

                        &::after {
                            display: block;
                        }
                    }
                }
            }

            &-checkmark {
                @extend %transition;
                position: absolute;
                top: 0;
                left: 0;
                height: 2rem;
                width: 2rem;
                background-color: $primary-clr;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 0.65rem;
                    top: 0.2rem;
                    width: 0.5rem;
                    height: 1rem;
                    border: solid $primary-clr;
                    border-width: 0 0.3rem 0.3rem 0;
                    transform: rotate(45deg);
                }
            }

            &-label {
                font-weight: $font-bold;
                font-size: $font-size-small;
            }
        }

        &-type {
            @extend %flexbox-row, %transition;
            justify-content: space-between;

            &-right-arrow {
                @extend %transition;
                opacity: 0;
                transform: translateX(-3rem);
            }

            &-right-arrow,
            &:hover,
            &.clicked {
                color: $secondary-clr;
                @extend %hover-styles;
            }

            &:hover &-right-arrow {
                @extend %hover-styles;
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-type-col,
        &-options-col {
            @extend %flexbox-column-center;
            justify-content: space-between;
            align-items: flex-start;
            width: 45%;
            height: 100%;
        }

        &-type,
        &-options-col {
            margin: 1rem 0;
        }
    }

    // Filter sidebar menu nested styles

    &__filter-recipe-label,
    &__filter-type,
    &__sort-by-section-title {
        font-size: $font-size-large;
        font-weight: $font-bold;
        width: 100%;
    }
}

//Main styles

.main {
    @extend %flexbox-column-center;

    //Main nested styles

    &__title-button-container {
        @extend %flexbox-row;
        justify-content: space-between;
    }

    &__add {
        &-button {
            @include primary-theme-colors($light-theme: true);
            padding: 1.6rem;

            &:hover {
                @include primary-theme-colors($light-theme: false);
            }
        }

        &-circle-icon {
            padding-left: 0.5em;
        }
    }

    &__recipe {
        &-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            grid-template-rows: repeat(auto-fit, 10rem);
            //padding-right: 1rem;
        }

        &-card {
            width: 100%;

            &.open {
                @extend %transition;
                grid-row: auto / span 2;

                & .main__recipe-card {
                    &-main-section {
                        @extend %box-shadow, %transition;
                        border-radius: 1rem 1rem 0 0;
                        height: 50%;
                    }

                    &-drop-down {
                        @extend %transition;
                        transform: translateY(-50%);
                        padding: 1.8rem 0 1.2rem;
                        height: 100%;
                        opacity: 1;

                        * {
                            opacity: 1;
                            height: auto;
                        }
                    }

                    &-down-arrow-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            &-main-section {
                @include primary-theme-colors($light-theme: false);
                @extend %transition;

                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                overflow: hidden;
                padding: 2.4rem 0;

                &:hover {
                    @include primary-theme-colors($light-theme: true);
                    @extend %hover-styles;
                }
            }

            &-down-arrow-icon {
                @extend %transition;
                font-size: $font-size-large;
            }

            &-drop-down {
                @extend %transition;
                @include primary-theme-colors($light-theme: true);

                width: 100%;
                height: 0;
                top: 100%;
                z-index: 1;
                display: flex;
                align-items: flex-end;
                border-radius: 1rem;
                transform: translateY(-100%);
                opacity: 0;

                * {
                    opacity: 0;
                }

                &__text-content {
                    width: 45%;
                }

                &__button {
                    @include primary-theme-colors($light-theme: false);
                    font-size: $font-size-small;
                    font-weight: $font-bold;
                    padding: 1.6rem 1rem;

                    &:hover {
                        @include primary-theme-colors($light-theme: true);
                        background: $secondary-clr;
                    }
                }

                &__spoon {
                    margin-right: 0.6rem;
                }

                &__ingredient-amount,
                &__serving-amount,
                &__cooking-time {
                    font-size: $font-size-small;
                    margin: 0.6rem;
                }

                &__ingredients-number,
                &__servings-number,
                &__cooking-time-hourss-number,
                &__cooking-time-minutes-number {
                    font-weight: 700;
                }
            }

            &-main-section,
            &-drop-down {
                &__wrapper {
                    @extend %flexbox-row;
                    justify-content: space-between;
                    width: 90%;
                    height: 100%;
                }
            }
        }

        &-title {
            font-size: $font-size-medium;
            margin: 0 0 0.5rem 0;
        }

        &-description {
            font-size: $font-size-small;
            margin: 0;
        }
    }

    &__message-container {
        @extend %flexbox-row;
        width: 100%;
        height: 50rem;
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        &-illustration {
            width: 50%;
            height: 100%;
        }

        &-text-content {
            @extend %flexbox-column-center;
            align-items: flex-start;
            width: 50%;
            height: 100%;
            color: $primary-clr;

            &-title {
                font-size: $font-size-x-large;
                margin-bottom: 0;
            }

            &-subtitle {
                margin-top: 1rem;
                font-size: $font-size-large;
            }
        }
    }

    //Main nested shared styles

    &__title,
    &__recipe-title-input {
        color: $primary-clr;
        font-size: $font-size-large;
    }
}

//Edit page styles
.edit-page {
    //Edit page header styles
    & .header {
        &__home-icon {
            &:hover {
                @extend %hover-brightness;
            }
        }
    }

    & .main {
        &__title-button-container {
            margin-bottom: 8rem;
        }

        &__recipe-title {
            @extend %flexbox-row, %border-radius, %transition;
            color: $primary-clr;
            justify-content: space-between;
            margin: 0;

            &-input {
                @extend %border-radius;
                font-size: $font-size-x-large;
                font-weight: $font-bold;
                max-width: 25ch;
                margin-right: 2.4rem;
            }

            &-edit-icon {
                opacity: 0;

                &:hover {
                    color: $primary-highlight-clr;
                }
            }

            &.display-mode {
                padding: 1.4rem 1.4rem 1.4rem 0;

                &:hover {
                    @extend %hover-styles;
                    background: #fff;
                    padding: 1.4rem 1.75rem;

                    & .main__recipe-title-edit-icon {
                        opacity: 1;
                    }
                }
            }

            &.edit-mode {
                & .main__recipe-title-edit-icon {
                    color: $primary-highlight-clr;
                    opacity: 1;

                    &:hover {
                        color: $primary-clr;
                    }
                }

                & .main__recipe-title-input {
                    padding: 1.4rem 1.6rem;
                    background: $input-edit-clr;
                    outline-color: invert;
                }
            }
        }

        &__delete-button {
            @include remove-colors($remove-color: true);
            padding: 2.4rem;

            &:hover {
                @include remove-colors($remove-color: false);
            }
        }

        &__column-title-container {
            @extend %flexbox-row;
            width: 100%;
        }

        &__instructions-title,
        &__ingredients-title {
            font-size: $font-size-large;
            margin-right: 3.5rem;

            &-container {
                @extend %flexbox-row;
                width: calc(100% / 3);
                color: $primary-clr;
            }
        }

        &__add-new,
        &__step-remove,
        &__ingredient-remove {
            &-button {
                font-size: $font-size-small;
                padding: 1.4rem;
            }
        }

        &__add-new-button {
            @include primary-theme-colors($light-theme: false);

            &:hover {
                @include primary-theme-colors($light-theme: true);
            }
        }

        &__recipe-container {
            @extend %flexbox-row;
            align-items: flex-start;

            &-col {
                @extend %flexbox-column-center;
                width: calc(100% / 3);
            }
        }

        &__step {
            &-container {
                @extend %flexbox-column-center, %transition;

                &.display-mode {
                    &:hover {
                        @extend %hover-styles;
                        @include primary-theme-colors($light-theme: true);

                        & .main__step-edit-icon {
                            opacity: 1;
                        }
                    }

                    & .main__step {
                        &-edit-icon {
                            opacity: 0;
                        }

                        &-remove-button {
                            @extend %transition;
                            display: none;
                            height: 0;
                            padding: 0;
                        }
                    }
                }

                &.edit-mode {
                    & .main__step {
                        &-edit-icon {
                            opacity: 1;
                            color: $secondary-clr;
                        }

                        &-text-content {
                            @extend %border-radius;
                            @include primary-theme-colors($light-theme: true);
                            padding: 1.4rem;
                        }
                    }
                }
            }

            &-title {
                margin: 0;
                font-weight: $font-bold;
                font-size: $font-size-medium-plus;

                &-container {
                    @extend %flexbox-row;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 1rem;
                }
            }

            &-text-content {
                display: inline-block;
                font-size: $font-size-small-plus;
            }

            &-remove-button {
                margin-top: 2rem;
            }
        }

        &__ingredient {
            &-container {
                width: 100%;

                &.display-mode {
                    &:hover {
                        @extend %hover-styles;
                        @include primary-theme-colors($light-theme: true);

                        & .main__ingredient-edit-icon {
                            opacity: 1;
                        }
                    }

                    & .main__ingredient {
                        &-edit-icon {
                            opacity: 0;
                        }

                        &-remove-button {
                            @extend %transition;
                            display: none;
                            width: 0;
                            height: 0;
                            padding: 0;
                        }
                    }
                }

                &.edit-mode {
                    & .main__ingredient {
                        &-edit-icon {
                            opacity: 1;
                            color: $secondary-clr;

                            &:hover {
                                color: #fff;
                            }
                        }

                        &-type {
                            @extend %border-radius;
                            @include primary-theme-colors($light-theme: true);
                            padding: 1.4rem;
                        }
                    }
                }
            }

            &-wrapper {
                justify-content: space-between;
            }

            &-type {
                display: inline-block;
                font-weight: $font-bold;
                max-width: 15ch;
                padding: 1rem;
            }

            &-remove-button {
                @extend %flexbox-row;
                justify-content: center;
                margin-right: 2.4rem;
            }

            &-wrapper,
            &-button-container {
                @extend %flexbox-row;
            }
        }

        &__recipe-detail {
            &-wrapper {
                @extend %flexbox-row;
                justify-content: space-between;
            }

            &-container {
                @extend %transition;
                height: 16rem;

                &.display-mode {
                    &:hover {
                        @extend %hover-styles;
                        @include primary-theme-colors($light-theme: true);

                        & .main__recipe-detail {
                            &-edit-icon {
                                opacity: 1;
                            }

                            &-cuisine-type,
                            &-serving-size-number,
                            &-cooking-time-hours-number,
                            &-cooking-time-minutes-number {
                                @extend %hover-styles;
                                color: $primary-clr;
                                background: none;
                            }
                        }
                    }

                    & .main__recipe-detail {
                        &-edit-icon {
                            opacity: 0;
                        }

                        &-remove-button {
                            @extend %transition;
                            display: none;
                            width: 0;
                            height: 0;
                            padding: 0;
                        }
                    }
                }

                &.edit-mode {
                    & .main__recipe-detail {
                        &-edit-icon {
                            opacity: 1;
                            color: $secondary-clr;

                            &:hover {
                                color: #fff;
                            }
                        }

                        &-serving-size-number {
                            width: 10ch;
                        }

                        &-cuisine-type,
                        &-serving-size-number,
                        &-cooking-time-hours-number,
                        &-cooking-time-minutes-number {
                            @extend %border-radius;
                            @include primary-theme-colors($light-theme: true);
                            padding: 1.4rem;
                        }

                        &-serving-size,
                        &-cooking-time-hours,
                        &-cooking-time-minutes {
                            &-number {
                                &::-webkit-inner-spin-button {
                                    -webkit-appearance: auto;
                                }

                                &::-webkit-outer-spin-button {
                                    -webkit-appearance: auto;
                                }
                            }
                        }

                        &-cooking-time-hours,
                        &-cooking-time-minutes {
                            &-number {
                                width: 7ch;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }

            &-text-content {
                @extend %flexbox-column-center;
                align-items: flex-start;
            }

            &-edit-icon {
                @extend %transition;
                opacity: 0;
            }

            &-cuisine {
                &-type {
                    font-size: $font-size-small-plus;
                    max-width: 30ch;
                }

                &-title,
                &-type {
                    display: block;
                }
            }

            &-serving-size {
                &-label {
                    font-size: $font-size-small-plus;
                }

                &-number {
                    width: 5ch;
                }
            }

            &-cooking-time {
                &-container {
                    @extend %flexbox-row;
                }

                &-hours-container {
                    margin-right: 2rem;
                }

                &-hours,
                &-minutes {
                    &-container {
                        @extend %flexbox-row;
                    }

                    &-number {
                        width: 3ch;
                    }
                }
            }

            &-last-updated-number {
                margin: 0;
            }

            &-container,
            &-cuisine-title {
                width: 100%;
            }

            &-cuisine,
            &-serving-size,
            &-cooking-time,
            &-last-updated {
                &-title {
                    font-weight: $font-bold;
                    font-size: $font-size-medium-plus;
                    margin-bottom: 1rem;
                }
            }

            &-serving-size,
            &-cooking-time-hours,
            &-cooking-time-minutes,
            &-last-updated {
                &-number {
                    background: none;
                    color: #fff;
                    border: none;
                    outline-width: 0;
                }

                &-number,
                &-label {
                    font-size: $font-size-small-plus;
                }
            }
        }

        &__step,
        &__ingredient {
            &-container {
                min-height: 16rem;
            }
        }

        &__step,
        &__ingredient,
        &__recipe-detail {
            &-container {
                @extend %border-radius, %flexbox-column-center;
                @include primary-theme-colors($light-theme: false);
                width: 100%;
                margin: 0 0 1.2rem;
                padding: 3rem 0;
                font-size: $font-size-medium-plus;
            }

            &-remove-button {
                @include remove-colors($remove-color: true);

                &:hover {
                    @include remove-colors($remove-color: false);
                }
            }

            &-edit-icon {
                &:hover {
                    @extend %hover-styles;
                    color: $secondary-clr;
                }
            }
        }

        &__step,
        &__ingredient,
        &__recipe-title {
            &-edit-icon {
                @extend %transition;
                font-size: $font-size-medium-plus;

                &:hover {
                    @extend %hover-styles;
                }
            }
        }
    }
}
